*{
    padding: 0;
    margin: 0;

}
a{
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

}
main{
    width: 350px;
    height: 250px;
    background: white;
    -webkit-box-shadow: 0 0 0 3000px rgba(0,0,0,0.8);
}
h3{
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
}
lable{
    display: block;
    width: 100%;
    font-size: 20px;
    padding-left: 8px;
    color: #ccc;
    margin-bottom: 5px;
}
input{
    display: block;
    width: 320px;
    margin: 8px;
    box-sizing: border-box;
    padding: 8px;
    outline: none;
    border-radius:5px;
    border: 1px solid #ccc;
}
button{
    width: 320px;
    margin-left: 8px;
    height: 30px;
    color: black;
    background: -webkit-linear-gradient(left,aqua,blue);
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}